/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}

#imageInput {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#processButton {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#processButton:hover {
    background-color: #0056b3;
}

canvas {
    display: none;
    margin: 20px auto;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input, button {
    font-size: 16px;
}

